@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

.slick-dots .slick-active div{
    border-right: 5px solid #262626 !important;
    opacity: 1 !important;
}